body{
    background-color: #F8D9DC;
    color:#fff; 
}

h1{
 	font-family:arial;
 	text-align:center;
 	color: white;
    font-size: 48px;
}

h2{
    font-family:arial;
    text-align:center;
    color: white;
    font-size: 18px;
}

#columna{
    position:absolute;    
    left:1100px;
    top:70px;
}

.pie{
    clear: both;
    padding:  .5em 1em;
    border-top: 3px double#fff;
    text-align: right;
    color:blue;
}
.pie ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.pie li{
    display: inline;
    margin-right: 1em;
}
.columnaAbajo{
    clear: both;
    position:absolute;
    text-align: left;
}
#fondo {background-color:#FFFFFF; width: 820px; margin: 4px auto; padding: 2px 0px; text-align: center}

#global {margin: 0px auto; width: 800px}

#cabecera {background-image:url(Imagenes/fondo.jpg);  height: 217px; margin: 0px 0px 4px 0px}

#logotipo {float:left; padding:13px 0px 13px 10px}
#banner {float:left; padding:150px 0px 13px 95px}

#imgRegistro{
    left:10px;
    top:1000px;
}
